*{
	margin: 0 auto;
	overflow-x: hidden;
}

nav {
	border: 1px solid red;
	height: 60px;
}



section {
	float: left; width: 30%;
	padding: 10px;
	margin: 3px;
	
}

label.cadastro {
	display: inline-block;
    width: 130px;
}

aside{
	border: 1px solid red;
	height: 265px;
}

footer {
	border: 1px solid red;
	height: 60px;
}