#site{
	display:none;
	min-height: 100%;
	position: relative;
}
#preloader{
	position: absolute;
	width: 64px;
	height: 64px;
	
	top: 50%;
	left:50%;
	margin: -32px 0 0 -32px;
	
}

html, body {
	height: 100%;
}


* html #site {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}
footer{
	position: absolute;
	bottom: 0;
	width:100%;
	background:black; /*somente para visualização*/
}

#conteudo {
	padding-bottom: 30px;
	}